label {
  font-size: 1rem;
}
@media only screen and (max-width: 990px) {
  label {
    font-size: 1.3rem;
  }
}
.label {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.check {
  color: hsl(4, 100%, 67%);
}
input {
  display: block;
  margin: 1rem 0;
  padding: 1rem;
  width: 80%;
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 5px;
}
.valid:focus,
.valid:hover {
  outline: none;
  cursor: pointer;
  border-color: hsl(234, 29%, 20%);
  border-top-color: hsl(231, 7%, 60%);
}
.invalid:focus {
  outline: none;
  cursor: pointer;
  border-color: hsl(4, 100%, 67%);
  border-top-color: hsl(231, 7%, 60%);
}
.btn {
  width: 80%;
}
