.success {
  padding: 2rem 5rem;
  width: 30%;
}

.success img {
  width: 20%;
}
.btn {
  width: 100%;
}
.content {
  font-size: 1rem;
}
span {
  font-weight: 700;
}
@media only screen and (max-width: 990px) {
  .success {
    width: 100%;
    height: 100vh;
    padding: 2rem 5rem;
    padding-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .success img {
    width: 30%;
  }
  .success h1 {
    margin: 3rem 0;
  }
  .content {
    font-size: 1.3rem;
  }
}
